<div class="container">
    <div class="row justify-content-center align-items-stretch">
        <div class="col-md-6 col-lg-6 mb-4">
            <div class="bg-white habilidades p-4 rounded-lg shadow-sm h-100">
                <i class="bi-hdd-fill text-primary"></i>
                <h3 class="mt-3 mb-3">Back-end</h3>
                <p>
                    Tengo experiencia en el desarrollo de aplicaciones back-end, desde el diseño hasta la implementación, pasando por las pruebas automáticas y la puesta en producción con entrega continua.
                </p>
                <p class="text-primary cabecera mt-4 mb-2">Experiencia:</p>
                <ul class="list-unstyled mb-0">
                    <li>Desarrollo de Web APIs</li>
                    <li>ASP.NET Core MVC</li>
                    <li>Entity Framework Core</li>
                    <li>JAVA, C#, Kotlin</li>
                    <li>Android Studio</li>
                    <li>SQL</li>
                    <li>MongoDB</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
            <div class="bg-white habilidades p-4 rounded-lg shadow-sm h-100">
                <i class="bi-code-slash text-primary"></i>
                <h3 class="mt-3 mb-3">Front-End</h3>
                <p>
                    Tengo experiencia en la creación de front-ends robustos que cumplen con los requerimientos del negocio y ofrecen una experiencia de usuario excepcional.
                </p>
                <p class="text-primary cabecera mt-4 mb-2">Experiencia:</p>
                <ul class="list-unstyled mb-0">
                    <li>JavaScript</li>
                    <li>HTML 5 + CSS</li>
                    <li>React</li>
                    <li>Unity 3D</li>
                    <li>Android Studio (Design Editor)</li>
                    <li>React.js</li>
                </ul>
            </div>
        </div>
    </div>
</div>
