@model Portfolio.Models.IndexViewModel

<div class="text-center">
    <h1 class="display-4">@Model.Persona.Nombre (@Model.Persona.Edad)</h1>

    <h2>Desarrollador Full Stack</h2>

    <img id="foto" src="~/img/foto.jpg" alt="Ibai Ruiz Bretos" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1 class="mb-4">Te doy la bienvenida a mi portafolio</h1>
        <p>
            ¡Hola! Soy Ibai Ruiz Bretos, un apasionado desarrollador Full Stack con experiencia en una amplia gama de tecnologías. Mi especialidad incluye el desarrollo de aplicaciones web y móviles, así como proyectos en el ámbito de la realidad virtual.
        </p>
        <p>
            He trabajado con herramientas como Unity para crear experiencias inmersivas en realidad virtual y para dispositivos móviles. Además, tengo experiencia en el desarrollo de aplicaciones Android utilizando Android Studio y Kotlin.
        </p>
        <p>
            En este portafolio, podrás explorar algunos de mis proyectos destacados, incluidos aquellos que involucran el uso de Unity, realidad virtual y aplicaciones móviles. Estoy comprometido con la innovación y la excelencia técnica, y estoy emocionado de compartir mi trabajo contigo.
        </p>
        <p>
            ¡Gracias por visitar y espero que disfrutes explorando mi portafolio!
        </p>
    </div>
</div>
