@{
    ViewData["Title"] = "Battleship";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Proyecto Battleship</h2>
            <p>
                Mis compañeros Aitziber Escudero, Kepa Arevalo y yo desarrollamos el clásico juego Hundir la Flota, que nos propuso como reto la empresa Zorraquino.
            </p>
            <p>
                El proyecto está basado en MERN (MongoDB, Express, React y Node.js). Utilizamos JavaScript como lenguaje de programación. Además, para la comunicación en tiempo real entre jugadores, implementamos la librería Socket.IO.
            </p>
            <p>
                Battleship, conocido como Hundir la Flota en español, es un juego de mesa en el que dos jugadores compiten por hundir los barcos del oponente. Cada jugador coloca sus barcos en un tablero de coordenadas y luego intenta adivinar las coordenadas de los barcos del oponente para hundirlos. El objetivo es hundir todos los barcos del oponente antes de que él hunda los tuyos.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="text-center mb-4">Imágenes del Proyecto</h3>
            <div class="row">
                <div class="col-md-12 order-md-2">
                    <img src="~/img/Battleship.gif" alt="Battleship 1" class="img-fluid mb-3" />
                </div>

            </div>
        </div>
    </div>
</div>
