@{
    ViewData["Title"] = "Gracias";
}

<div class="container text-center">
    <h4>Esta web no está disponible por el momento.</h4>
    <p>Gracias por interesarte en mis proyectos.</p>
    <div>
        <a asp-action="Index" asp-controller="Home">Volver al inicio</a>
    </div>
    <img src="~/img/wip.jpg" alt="Work in Progress" class="img-fluid mt-4" style="width: 33%;">
</div>
