@{
    ViewData["Title"] = "Crazy Rubber";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>¡Bienvenido a Crazy Rubber!</h2>
            <p>
                El proyecto "Crazy Rubber" es un juego para dispositivos móviles desarrollado en Unity.
                Se trata de un "infinity runner" donde un neumático viaja a través de un desierto esquivando obstáculos y recogiendo gemas para acumular puntos.
                El objetivo es mantenerse en juego el mayor tiempo posible sin chocarse y recolectar la mayor cantidad de gemas.
            </p>
            <h3>Origen y Contextualización del Proyecto</h3>
            <p>
                El juego está diseñado para entretener a un público amplio, especialmente a aquellos que disfrutan de desafíos rápidos y adictivos en sus dispositivos móviles.
                Los desarrolladores detrás de este proyecto buscan ofrecer una experiencia divertida y emocionante para sus usuarios.
            </p>
            <h3>Objetivos</h3>
            
            <h4>Objetivos alcanzados con el proyecto:</h4>
            <ul>
                <li>Diseñar y desarrollar los elementos visuales del juego, incluyendo el desierto, el neumático y los obstáculos.</li>
                <li>Implementar la lógica del juego, incluyendo la detección de colisiones, el movimiento del neumático y la generación aleatoria de obstáculos y gemas.</li>
                <li>Optimizar el rendimiento del juego para garantizar una experiencia fluida en una amplia gama de dispositivos móviles.</li>
                <li>Integrar sistemas de puntuación y progresión para motivar a los jugadores a seguir jugando y mejorar sus habilidades.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="text-center mb-4">Imágenes del Proyecto</h3>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/img/Rubber1.gif" alt="Crazy Rubber 1" class="img-fluid mb-3" />
                </div>
                <div class="col-md-6">
                    <img src="~/img/Rubber2.gif" alt="Crazy Rubber 2" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>
